:root{
    /* colors */
    --primary-light-font-color: white;
    --secondary-dark-font-color: #3d6288;
    --blue-background: #00919f;
    --light-background: #F5F8FB;
    --primary-color: #4890E7;
    --call-to-action-color: #FCD481;
    --blur-gray: rgba(94, 94, 94, 0.2);
    --blur-white-plus: rgb(255, 255, 255, 0.7);

    --gray: rgb(87, 87, 87);
    --gray-light: rgb(212, 212, 212);


    /* font */
    --font-size-primary-mobile: 1.55rem;
    --font-size-small: 1.2rem;

    --font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;

    /* shapes */
    --border-radius:10px
}
