.form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 60px;
}

/* Move up/down in form buttons */

.form__CircleUpIcon{
    font-size: 1px;
    pointer-events: none;
    transition: font-size 1s ease-in-out;
    margin-bottom: 20px;
}

.form__CircleUpIcon.visible{
    font-size: 25px;
    pointer-events:auto;

}

.form__CircleDownIcon{
    font-size: 25px;
    margin-top: 20px;
    pointer-events: auto;
    transition: font-size 1s ease-in-out;
}

.form__CircleDownIcon.hidden{
    font-size: 1px;
    pointer-events: none;
}


.form__CircleDownIcon, .form__CircleUpIcon{
    background: var(--blur-gray-plus);
    border-radius: var(--border-radius);
    padding: 7px;
    cursor: pointer;
    animation: growShrink ease-in-out 1.5s infinite;
    animation-iteration-count: 2;
    color: var(--blur-white-plus);
}





/* .form__CircleUpIcon:hover{
    font-size: 3rem;
}

@keyframes growShrink {
  0% {
    font-size: 25px;
  }
  50% {
    font-size: 16px;
  }
  100% {
    font-size: 25px;
  }
} */

/* Form locations */

.form__locationsCont{
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 30px;
    transform: translateY(0%);
    opacity: 1;
    transition: transform 2s ease-in-out, opacity 1.5s ease-in-out;
    visibility: visible;
    position: static;
}



.form__locationsCont input{
    text-align: center;
}

/* Dates and traveler data */

.form__datesCont, .form__TravelerDataCont{
    
    position: absolute; 
    margin: auto;
    width: 300px;

    display: flex;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    
    
    opacity: 0;
    gap: 30px;
    transform: translateY(400px);
    transition: transform 1.5s ease-in-out, opacity 0.6s ease-in-out;
    
}

.form__datesCont.visible, .form__TravelerDataCont.visible {
    position:static;
    visibility: visible;
    transform: translateY(0%);
    opacity: 1;

}


.form__datesCont.completed{
    transform: translateY(-400px);
    opacity: 0;
}

.form__TravelerDataCont__travelerData input{
    width: 22px;
}

.form__dateCont{
    display:flex;
    gap: 10px;
}

.form__locationsCont.completed, .form__datesCont.completed{
    transform: translateY(-400px);
    opacity: 0;
    position: absolute;
}

.form__TravelerDataCont__travelerData{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    gap: 15px;
}

.form__TravelerDataCont__travelerData label{
    padding: 8px;
}
.form__TravelerDataCont__travelerData input {
  width: 30px;
}

.form__TravelerDataCont__travelerData:nth-of-type(2) input {
  width: 40px;
}

.form__TravelerDataCont__travelerData input {
    background: rgb(255, 255, 255, 0.65);
    backdrop-filter: blur(10px);
    border-radius: var(--border-radius);
    text-align: center;
    height: 25px;
    color: var(--secondary-dark-font-color);
    font-weight: bolder;
}


/* Form button */

.formContainer__button{
    background: var(--gray);
    color: white;
    font-family: var(--font-family);
    padding: 10px 20px;
    font-weight: 500;
    border-radius: var(--border-radius);
    box-shadow: 0 0 20px -5px black;
    border: 1px gray solid;
    font-size: 1px;
    opacity: 0;
    width: fit-content;
    transition: font-size 1s ease-in-out, opacity 0.55s ease-in-out;
}

.formContainer__button.visible{
    font-size: var(--font-size-small) ;
    opacity: 1;
}

.form__error{
    height: 1rem;
    padding: 0px;
    margin: 0px;
}