.form{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
}

.form__CircleDownIcon{
    position: fixed;
    top: 75%;
}

.form__CircleUpIcon{
    position: fixed;
    top: 40.5%;
}

.form__CircleDownIcon, .form__CircleUpIcon{
    font-size: 25px;
    background: var(--blur-gray-plus);
    border-radius: var(--border-radius);
    padding: 7px;
    cursor: pointer;
    animation: growShrink ease-in-out 1.5s infinite;
    animation-iteration-count: 2;
    color: var(--blur-white-plus);
}





/* .form__CircleUpIcon:hover{
    font-size: 3rem;
}

@keyframes growShrink {
  0% {
    font-size: 25px;
  }
  50% {
    font-size: 16px;
  }
  100% {
    font-size: 25px;
  }
} */

.form__locationsCont{
    display: flex;
    align-items: center;
    flex-direction: column;
    transition: top 2s ease-in-out;
    position: fixed;
    top: 48%;
    gap: 40px
}

.form__locationsCont.completed{
    position: fixed;
    bottom: auto;
    top: -100%;
}

.form__locationsCont input{
    text-align: center;
}

.formContainer__button{
   position:fixed;
   bottom:50px;
   left: 0;
   right: 0;
   margin: auto;
   width: fit-content;
}

.form__datesCont, .form__TravelerDataCont{
    display: flex;
    align-items: center;
    flex-direction: column;
    position: fixed;
    bottom: -100%;
    transition: bottom 2s ease-in-out ;
    width: 100%;
    gap: 40px;
}

.form__datesCont.visible, .form__TravelerDataCont.visible {
    display: flex;
    bottom: 32%;
}


.form__datesCont.completed{
    position: fixed;
    bottom: auto;
    bottom: 200%;
}

.form__TravelerDataCont__travelerData input{
    width: 22px;
}

.form__dateCont{
    display:flex;
    gap: 10px;
}

.form__TravelerDataCont__travelerData{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
    color: green;
    width: 100%;
}

.form__TravelerDataCont__travelerData label{
    padding: 8px;
}
.form__TravelerDataCont__travelerData input {
  width: 30px;
}

.form__TravelerDataCont__travelerData:nth-of-type(2) input {
  width: 40px;
}

.form__TravelerDataCont__travelerData input {
    background: rgb(255, 255, 255, 0.65);
    backdrop-filter: blur(10px);
    border-radius: var(--border-radius);
    text-align: center;
    height: 25px;
    color: var(--secondary-dark-font-color);
    font-weight: bolder;
}

